server/build/
server/cmake-build-*/
*.o
*.obj
*.exe
*.out

client/__pycache__/
client/**/__pycache__/
client/.venv/
client/*.egg-info/
*.pyc

.vscode/
.idea/
*.swp
*.swo

.docker/

Thumbs.db
.DS_Store
